body {
    box-sizing: border-box;

    font-family: 'Suez One';
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-family: 'Kaushan Script';
}

#etch-sketch-container {
    box-sizing: border-box;

    width: 450px;
    height: 500px;

    display: flex;
    flex-direction: column;

    align-items: center;

    border-radius: 32px;

    background-color: red;
    
}

#grid-container {
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-self: center;

    background-color: white;
}

button {
    width: 150px;
    flex-grow: 0;
    color: red;
}

#knob-container {
    align-self: flex-end;
    display: inline-flex;
    width: 450px;
    height: 70px;

    margin: 0;

    justify-content: space-between;
    align-items: center;
}

.knob {
    font-family: 'Gochi Hand';
    display: flex;
    justify-content: center;
    align-items: center;

    border-style: none;

    font-family: 'Suez One';

    flex-shrink: 0;
    width: 60px;
    height: 60px;

    margin: 0 30px;

    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.knob:active{
    background-color: aqua;
}
#etch-sketch-text {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 15px;
    color: white;
    font-size: 20px;
    height: 70px;
}

#etch-sketch-text span {
    font-size: 32px;
    margin: 0 10px;
}

form{
    display: flex;
    color: white;
    text-align: center;
}

input {
    width: 70px;
    margin-left: 10px;

    font-family: 'Suez One';

    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}
