body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    font-family: 'Suez One';
    
    background-color: #437F97;
}

/* sketch toy */
#etch-sketch-container {
    width: 850px;
    height: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 32px;

    background-color: #FD151B;
}

/* title area */
#etch-sketch-text {
    height: 100px;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    padding: 20px;

    color: #FFB30F;
    font-size: 40px;
}

#etch-sketch-text span {
    padding-left: 10px;
    padding-right: 30px;

    font-family: 'Kaushan Script';
    font-size: 48px;
    font-weight: 700;
}

/* canvas */
#grid-container {
    width: 650px;
    height: 650px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;

    background-color: #ecf0f1;
}

/* control area */
#knob-container {
    box-sizing: border-box;
    width: 850px;
    height: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.knob {
    width: 130px;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    margin: 0 50px;

    border-style: none;
    border-radius: 65px;

    font-family: 'Suez One';
    font-size: 26px;
    background-color: #ecf0f1;
}

.knob:active {
    color: #ecf0f1;
    background-color: #FFB30F;
}

/* user input */
/* title, input and button */
#form-container {
    width: 600px;
    align-self: flex-start;

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* input and button */
#input-container {
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* input title */
#form-container p {
    color: #FFB30F;
    margin: 0;
    text-align: center;

    font-size: 32px;
}

/* input field*/
input {
    width: 160px;
    height: 50px;
    box-sizing: border-box;

    border: 5px solid #ecf0f1;
    border-radius: 5px;

    font-family: 'Suez One';
    font-size: 28px;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none;
    border: 5px solid #FFB30F;
    border-radius: 5px;
}

/* ok button */
#ok-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;

    font-family: 'Suez One';
    text-align: center;

    border-style: none;
    margin-left: 30px;
    padding: 0;

    font-size: 24px;
    color: #ecf0f1;
    background-color: #FFB30F;
}

#ok-button:active {
    color: black;
    background-color: #ecf0f1;
}