body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    font-family: 'Suez One';
    
    background-color: #437F97;
}

/* sketch toy */
#etch-sketch-container {
    width: 450px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 32px;

    background-color: #FD151B;
}

/* title area */
#etch-sketch-text {
    height: 65px;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    padding: 15px;

    color: #FFB30F;
    font-size: 20px;
}

#etch-sketch-text span {
    padding-left: 3px;
    padding-right: 12px;

    font-family: 'Kaushan Script';
    font-size: 32px;
    font-weight: 700;
}

/* canvas */
#grid-container {
    width: 350px;
    height: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;

    background-color: #ecf0f1;
}

/* control area */
#knob-container {
    box-sizing: border-box;
    width: 450px;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}

.knob {
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    margin: 0 30px;

    border-style: none;
    border-radius: 35px;

    font-family: 'Suez One';
    background-color: #ecf0f1;

}

.knob:active {
    color: #ecf0f1;
    background-color: #FFB30F;
}

/* user input */
/* title, input and button */
#form-container {
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* input and button */
#input-container {
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: baseline;
}

/* input title */
#form-container p {
    color: #FFB30F;
    margin: 0;
    text-align: center;
}

/* input field*/
input {
    width: 80px;
    height: 20px;
    box-sizing: border-box;

    margin-top: 5px;

    border: 3px solid #ecf0f1;
    border-radius: 4px;

    font-family: 'Suez One';
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none;
    border: 3px solid #FFB30F;
    border-radius: 4px;
}

/* ok button */
#ok-button {
    width: 26px;
    height: 26px;
    border-radius: 13px;

    font-family: 'Suez One';
    text-align: center;

    border-style: none;
    margin-left: 10px;
    padding: 0;

    color: #ecf0f1;
    background-color: #FFB30F;
}

#ok-button:active {
    color: black;
    background-color: #ecf0f1;
}